body{
  margin: 0;
  padding: 0;
  font-family: helvetica;
  background: #191919;
  color: #3498db;
  width: auto;
}

td{
	text-align: center;
	margin: auto;
	width: 200px;
}

th{
	transform: translate(192px);
	text-align: center;
	margin: auto;
	width: auto;
}

p{
		text-align: center;
}